# Terraform cache och installerade providers
**/.terraform/

# Tillståndsfiler (state)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Kraschloggar
crash.log
crash.*.log

# Variabelfiler som kan innehålla lokala hemligheter
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lokala CLI-konfigurationsfiler
.terraformrc
terraform.rc

# Backup-filer
*.nonmodular